h1 {
    text-align: center;
    text-shadow: 2px 2px whitesmoke;
}

h2 {
    text-align: center;
    text-shadow: 2px 2px whitesmoke;
}

body {
    margin-left: 100px;
    margin-right: 100px;
    background-color: lightgrey; 
}

p {
    text-align: center;
}



.container {
    border: 2px solid #B0C4DE;
    padding: 25px;
    Margin: 16px;
    
}

/* Colors panel */
.color-panel {
    display: inline-block;
    margin: 30px auto;
    text-align: center;
    width: 24%;
}

.aquamarine {
    background-color: #7FFFD4;
}

.crimson {
    background-color: #DC143C;
    color: white;
}

.lightsteelblue {
    background-color: #B0C4DE;
}

.turquoise {
    background-color: #40E0D0;
}

.color-name {
    display: block;
    margin: 1em;
}

.color-hex {
    display: block;
    margin: 1em;
}

/* Fonts Panel */
.font-panel {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin-left: 15px;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

